*.class

# Package Files #
.jar
.war
.ear
online-shopping/onlineshopping/target/
online-shopping/shoppingbackend/target
online-shopping/onlineshopping/src/main/webapp/assets/images/*
online-shopping/onlineshopping/src/main/webapp/assets/fonts/*